/* Genral Pade Styling */
body{
    background: url('images/banner.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar Styling */
/*  */
.navbar {
    width: 100%;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-nav nav-link {
    font-size: 1.2rem;
    padding: 10px 15px;
}

.navbar-nav nav-link:hover {
    color: #f8d210;
}

/* Hero Section */

header{
    color: #030303;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

header p {
    font-size: 1.2rem;
}

/* product cards */

.card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 5px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.card img {
    width: 100%;               
    height: auto;              
    max-height: 250px;         
    object-fit: contain;       
    padding: 1px;             
    background-color: rgb(212, 205, 205);
}

.card-text {
    font-size: 16px;
    font-weight: 400;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Product Image */

.card-img-top {
    height: 250px;
    object-fit: cover;
}


/* Product Button */

.btn-success {
    background-color: #f8f4f4;
}

.btn-success:hover {
    background-color:#d8ef9a;
}

/* container */
.container {
    padding: 5px;
    color: white;
    font-family: 'Garamond', serif;

  
}

/* Footer Section */
footer {
    margin-top: auto;
    font-size: 1rem;
    padding: 15px 0;
}

.container-footer{
    font-family: 'MedievalSharp', cursive;  
}


/* Responsive Grid for Different Devices */
@media (max-width: 768px) {
    .card img {
        max-height: 200px;  /* Adjust image height for smaller screens */
    }
}

@media (max-width: 576px) {
    .card img {
        max-height: 180px;  /* Further adjust for mobile */
    }
}

@media (max-width: 768px) {
    .card-title {
        font-size: 18px;
    }

    .card-text {
        font-size: 14px;
    }
}